
@import url(https://fonts.googleapis.com/css?family=Rambla);
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

html {
	background-color: #E1E0E3;
	font-size: 1em;
	font-family: "Rambla",sans-serif;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #48639E;
}
a:hover {
	color: #F26101;
}

h1 {
	margin-bottom: 10px;
	text-align: center;
	text-decoration: underline;
	font-weight: normal;
	font-size: 4em;
	margin-top: 0;
}
h2 {
	font-size: 2em;
	font-weight: bold;
}
h3 {
	font-size: 1.5em;
}

a#home {
	text-align: center;
	padding-left: 47%;
	font-size: 1.5em;
	text-decoration: underline;
}
a#last {
	float: left;
	position: fixed;
	left: 10px;
}
a#next {
	float: right;
	right: 10px;
	position: fixed;
}
a.top_button {
	text-decoration: none;
	font-size: 3em;
	background-color: #FFF;
	border-radius: 20px;
	padding: 10px;
	margin: 0;
	border: 1px solid black;
}

div#main {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-top: 40px;
	padding-bottom: 5px;
	border: 1px solid black;
}

ul.subsections {
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 1em;
	border-bottom: 2px solid black;
}
ul.subsections > li {
	display: inline;
}

article {
	margin-right: 1em;
}
aside.example_program {
	max-width: 50%;
	margin-left: 1em;
	margin-bottom: 1em;
	padding: 0em 1em 0em 1em;
	display: block;
	background-color: #E5E5FF;
	border: 1px solid black;
	float: right;
}

aside.example_program > h2 {
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
	padding-bottom: 0;
	margin-bottom: 0;
}
aside.example_program > div.example_links > a {
	font-size: 1.2em;
}
aside.example_program > div.example_links {
	text-align: center;
	border-bottom: 1px solid black;
	padding-top: 1em;
	padding-bottom: 1em;
}

pre.example_code, pre.example_program {
	white-space: pre-wrap;
	font-family: "Oxygen-Mono",sans-serif;
	border: 0px;
}
pre.example_code {
	overflow: hidden;
	padding: 0.5em;
	border: 1px solid black;
	background-color: #E5E5FF;
}
aside.top {
	display: block;
}
aside.bot {
	display: none;
}

footer {
	border-top: 1px solid black;
	text-align: center;
	line-height: 2em;
	margin-top: 1em;
}

.nocollapse:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.content_list {
	list-style-type: none;
	width: 45%;
}
.content_list > li {
	font-size: 1.5em;
}
.left {
	float: left;
}
.right {
	float: right;
}
