
#left {
	width: 30%;
	float: left;
}

#mid {
	width: 30%;
	display: inline-block;
	margin-left: 5%;
}

#right {
	width: 30%;
	float: right;
}

.thin {
	display: none;
}

img {
	max-width: 55%;
	margin: auto;
	display: block;
}

table {
	border: 1px solid black;	
	background-color: #E5E5FF;
	border-spacing: 0;
	border-collapse: collapse;
}
table > tbody > tr > td {
	padding: 5px;
	line-height: 1em;
	border: 1px solid black;
}

.header {
	font-size: 1.2em;
}
